[submodule "better-enums"]
	path = dependencies/better-enums
	url = https://github.com/aantron/better-enums.git
[submodule "GSL"]
	path = dependencies/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
