[submodule "json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/ViGEmClient"]
	path = dependencies/ViGEmClient
	url = https://github.com/ViGEm/ViGEmClient.git
[submodule "dependencies/better-enums"]
	path = dependencies/better-enums
	url = https://github.com/aantron/better-enums.git
[submodule "dependencies/SingleApplication"]
	path = dependencies/SingleApplication
	url = https://github.com/itay-grudev/SingleApplication.git
