[submodule "better-enums"]
	path = better-enums
	url = https://github.com/aantron/better-enums.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
